<h3>Example 3: Original model values change as controls are changed.</h3>

<div>
  <form>
    <div>
      <label>Checkbox<input type="checkbox" ng-model="checkbox"></label>
    </div>
    <div>
      <label>Radio 1<input type="radio" name="radioGroup1" value="1" ng-model="radioGroup1"></label>
      <label>Radio 2<input type="radio" name="radioGroup1" value="2" ng-model="radioGroup1"></label>
    </div>
    <div>
      <label>Text<input type="text" ng-model="text"></label>
    </div>
    <div>
      <label>Text Area<textarea ng-model="textarea"></textarea></label>
    </div>
    <div>
      <label>Select<select ng-model="select" ng-options="option.value as option.name for option in selectOptions"></select></label>
    </div>
  </form>
</div>

<br/>
<br/>

<p>Model</p>
<div>
  <div>{{checkbox}}</div>
  <div>{{radioGroup1}}</div>
  <div>{{text}}</div>
  <div>{{textarea}}</div>
  <div>{{select}}</div>
</div>

<h3>Example 4: The original model values don't change until "OK" is clicked. Also, by clicking "Reset", the form can
  revert to the original values easily.</h3>
<div>
  <form>
    <div>
      <label>Checkbox<input type="checkbox" ng-model="form2.checkbox"></label>
    </div>
    <div>
      <label>Radio 1<input type="radio" name="radioGroup1" value="1" ng-model="form2.radioGroup1"></label>
      <label>Radio 2<input type="radio" name="radioGroup1" value="2" ng-model="form2.radioGroup1"></label>
    </div>
    <div>
      <label>Text<input type="text" ng-model="form2.text"></label>
    </div>
    <div>
      <label>Text Area<textarea ng-model="form2.textarea"></textarea></label>
    </div>
    <div>
      <label>Select<select ng-model="form2.select" ng-options="option.value as option.name for option in selectOptions"></select></label>
    </div>
    <button ng-click="form2OK()">OK</button>
    <button ng-click="form2Reset()">Reset</button>
  </form>
</div>

<br/>
<br/>

<p>Model</p>
<div>
  <div>{{obj.checkbox}}</div>
  <div>{{obj.radioGroup1}}</div>
  <div>{{obj.text}}</div>
  <div>{{obj.textarea}}</div>
  <div>{{obj.select}}</div>
</div>

<h3>Example 5: Use the same model copying technique we used in example 4 but add validation. Note the use of
  ng-required to mark inputs which must be entered, ng-pattern to provide a regular expression for the zip code, the
  conditional appearance of the Ruby on Rails checkbox, and a validation test on the OK button.</h3>

<div>
  <form name="userInputForm">
    <div>
      <label>First Name<input type="text" ng-required="true" ng-model="form3.firstName"></label>
      <label>Last Name<input type="text" ng-required="true" ng-model="form3.lastName"></label>
    </div>
    <div>
      <label>Address Line 1<input type="text" ng-required="true" ng-model="form3.addressLine1"></label>
    </div>
    <div>
      <label>Address Line 2<input type="text" ng-model="form3.addressLine2"></label>
    </div>
    <div>
      <label>City<input type="text" ng-required="true" ng-model="form3.city"></label>
      <label>State<select ng-model="form3.state" ng-required="true"
                          ng-options="state.abbreviation as state.name for state in form3.stateList"></select></label>
      <label>Zip<input type="text" ng-required="true" ng-pattern="/^\d{5}(-\d{4})?$/" ng-model="form3.zip"></label>
    </div>
    <div>
      Preferred language
      <label>C/C++<input type="radio" name="preferredLanguage" value="C/C++" ng-model="form3.preferredLanguage"></label>
      <label>Java<input type="radio" name="preferredLanguage" value="Java" ng-model="form3.preferredLanguage"></label>
      <label>JavaScript<input type="radio" name="preferredLanguage" value="JavaScript" ng-model="form3.preferredLanguage"></label>
      <label>Perl<input type="radio" name="preferredLanguage" value="Perl" ng-model="form3.preferredLanguage"></label>
      <label>Ruby<input type="radio" name="preferredLanguage" value="Ruby" ng-model="form3.preferredLanguage"></label>
      <label>Scala<input type="radio" name="preferredLanguage" value="Scala" ng-model="form3.preferredLanguage"></label>
    </div>
    <div ng-show="form3.preferredLanguage == 'Ruby'">
      <label>Ruby w/ Rails<input type="checkbox" ng-model="rails"></label>
    </div>
    <button ng-disabled="userInputForm.$invalid" ng-click="form3OK()">OK</button>
    <button ng-click="form3Reset()">Reset</button>
  </form>
</div>

<p>Model</p>
<div>
  <div>{{userInput.firstName}}</div>
  <div>{{userInput.lastName}}</div>
  <div>{{userInput.addressLine1}}</div>
  <div>{{userInput.addressLine2}}</div>
  <div>{{userInput.city}}</div>
  <div>{{userInput.state}}</div>
  <div>{{userInput.zip}}</div>
  <div>{{userInput.preferredLanguage}}</div>
  <div>{{userInput.rails}}</div>
</div>
