<div class="ng-cloak">
  <form class="form-horizontal">
    <fieldset>
      <!-- Form Name -->
      <legend><strong>Example 1:</strong> Text updated on the fly in an SVG graphic via AngularJS.</legend>

      <span ng-include="'images/sunshine_plus_temp.svg'"></span>

      <!-- Text input-->
      <div class="form-group col-md-6">
        <label class="col-md-4 control-label" for="textinput">Temperature</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md" ng-model="temp">
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="ng-cloak">
  <form class="form-horizontal">
    <fieldset>
      <!-- Form Name -->
      <legend><strong>Example 2:</strong> Swapping out the image within an SVG. Note that the image actually appears in the
        middle of multiple layers of drawing so it would take much more effort to achieve the same thing on the fly with
        other techniques.</legend>

      <span ng-include="'images/slides.svg'"></span>

      <div class="controls">
        <button ng-click="switchImage()">Switch Image</button>
      </div>
    </fieldset>
  </form>
</div>

<div>
  <p>
    Sun icon by an unknown author, from The Noun Project<br>
    Slides icon by Diego Naive, from The Noun Project
  </p>
</div>