<div class="ng-cloak">
  <div>
    <h3>Example 1: Text updated on the fly in an SVG graphic via AngularJS.</h3>
    <span ng-include="'images/sunshine_plus_temp.svg'"></span>
  </div>
  <label>Temperature</label> <input type="text" ng-model="temp"/>

  <div>
    <h3>Example 2: Swapping out the image within an SVG. Note that the image actually appears in the middle of multiple
    layers of drawing so it would take much more effort to achieve the same thing on the fly with other techniques.</h3>
    <span ng-include="'images/slides.svg'"></span>
  </div>
  <button ng-click="switchImage()">Switch Image</button>
</div>

<div>
  <p>
    Sun icon by an unknown author, from The Noun Project<br>
    Slides icon by Diego Naive, from The Noun Project
  </p>
</div>